@import "tailwindcss";

/* cria uma variante de dark mode que responde à classe .dark */
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}

/* tema principal */
@theme {
  --color-primary: #1e40af; /* azul */
  --color-secondary: #9333ea; /* roxo */
  --color-accent: #f97316; /* laranja */

  --font-bebasneue: "BebasNeue", serif;
  --font-merriweather: "Merriweather", serif;
  --font-libreBaskerville: "LibreBaskerville", serif;
  --font-anton: "Anton", serif;
}

/* Título principal */
@font-face {
  font-family: "BebasNeue";
  src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Subtítulo / Navegação / Data */
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Corpo de texto e descrições de notícias  */
@font-face {
  font-family: "LibreBaskerville";
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Cabeçalhos de seções  */
@font-face {
  font-family: "Anton";
  src: url("../assets/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
